/* ESTILO PARA LA PÁGINA */
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #121212;
    color: #e0e0e0;
}

/* HEADER */
header {
    background-color: #d40000;
    text-align: center;
    padding: 0.75rem;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
}

header h1 {
    margin: 0;
    text-align: center;
    font-size: 2.25rem;
}

#imagen-header {
    width: 60%;
    height: 250px;
    display: block;
    margin: 0 auto;
    object-fit: cover;  /* Recorta sin deformar la imagen */
    transition: width 0.3s ease;
}

/* BARRA DE NAVEGACIÓN */
nav {
    background-color: #1c1c1c;
    padding: 0.5rem 0;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 1.5rem;
    margin: 0;
    padding: 0;
}

nav li a {
    text-decoration: none;
    font-weight: bold;
    color: #e0e0e0;
}

nav li a:hover {
    color: #d40000;
}

/* PANTALLA REDUCIDA */
@media screen and (max-width: 768px) {
    #imagen-header {
        width: 100%;
    }
}